Flask==2.2.2
Flask-SocketIO==5.3.2
future==0.18.2
psycopg2-binary==2.9.5
py==1.11.0
pytest==6.2.2
python-dateutil==2.8.2
python-engineio==4.3.4
python-socketio==5.7.2
requests==2.27.1
websockets==10.3
gevent==22.10.2
gevent-websocket==0.10.1
