.App {
    height: 100vh;
    margin-left: calc(3% + 90px);
    margin-top: 2%;
}

.main-grid {
    max-height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5fr 4fr;
}

ul {
    padding-inline-start: 0px;
}
