.character-area {
    height: 100%;
}
.characterWSList {
    list-style: none;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: min-content; */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.characterWSList li {
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    justify-content: center;
    /* width: fit-content; */
}

.addCharacterFormWrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}
