/* blog */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}
:hover::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: transparent;
}
:hover::-webkit-scrollbar-thumb {
    background-color: #aaa8a8;
}

.roundedbox {
    border-radius: 10px;
}
.row {
    display: flex;
    width: auto;
}
.column {
    display: flex;
    flex-direction: column;
}

.wrapper {
    height: inherit;
}

.bigHeader {
    text-align: center;
    display: block;
    font-size: 1em;
    /* margin-top: 0.5em; */
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.defaultHeader {
    text-align: center;

    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.label {
    text-align: center;

    display: block;
    font-size: 0.75em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.half-and-half-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.default-inputbox {
    border-style: solid;
    border-width: 1px;
    height: 0.9em;
    border-radius: 5px;
}
.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.oneStat {
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputboxSmall {
    width: 30px;
    /* height: 0.9em; */
    margin-right: 7%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}
.inputboxMedium {
    width: 100px;
    border-radius: 10px;
    height: 0.9em;
    margin-right: 10%;
}
.centered-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centered-text {
    text-align: center;
}

/* Buttons */
.plusButton {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 900;
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    border-style: none;
}

.plusButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.closeButton {
    background-color: rgb(255, 214, 214, 0);
    border-style: none;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 3px;
    margin: 0px;
    z-index: 3;
}
.closeButton:hover {
    cursor: pointer;
    background-color: rgb(208, 177, 177);
    /* color: white; */
}

.showOnHover {
    display: none;
    right: "0px";
    top: "0px";
    background-color: rgba(255, 141, 141, 0.654);
}

.defaultButton {
    background-color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 5px;
}

.defaultButton:hover {
    background-color: rgb(199, 199, 199);

    cursor: pointer;
}

.lowestButton {
    margin-bottom: 5%;
}

.submit-button {
    margin-top: 10px;
}

.strong-button {
    font-weight: bold;
    font-size: small;
    padding: 15px;
    min-width: 80px;
}
.invisible-input {
    border-style: none;
    background-color: rgb(206, 232, 255, 0.1);
    width: 15px;
}
.invisible-input::-webkit-outer-spin-button,
.invisible-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* ... */
#root {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.scrollable-y {
    overflow: hidden;
    overflow-y: auto;
}
.scrollable-y:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    /* background-color: rgba(0, 0, 0, 0.027); */
}
.scrollable-x {
    overflow: hidden;
    overflow-x: auto;
}
.scrollable {
    overflow: hidden;
    overflow: auto;
}
.hoverable {
    cursor: pointer;
}
.hoverable:hover {
    transform: scale(1.1);
}
.grabbable:hover {
    cursor: grab;
}
.grabbable:active {
    cursor: grabbing;
}
.highlightable:hover {
    color: rgb(223, 182, 0);
}
.editable:hover {
    cursor: default;
    transform: scale(1.15);
}
.parent-hoverable :hover {
    transform: scale(1.1);
    cursor: pointer;
}
.padded-form {
    padding: 10px;
    min-height: 30px;
}
