/* Whole board */

.screen-wrapper{
    height: 100vh;
}
.dice-module{
    width: 300px;
    background-color: rgb(255, 184, 137);
    /* aspect-ratio: 2/1; */
    /* max-height: 50%; */

    height: 200px;
    padding: 1.5%;
    overflow: hidden;
}

/* Add Dice */
.add-dice{
    width: 20%;
    height: 100%;
    margin-right: 5%;
    background-color: rgb(255, 122, 122);
    display: flex;
    overflow:hidden; 
    overflow-y:scroll;
}

.addDiceButtonColumn{
    width: 90%;
    margin: 10%;

}

.addDiceButton{
    margin-bottom: 15%;
    height: 9%;
    border-style: none;
    border-color: rgb(110, 22, 22);
    border-width: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.customDiceWrapper{
    height: fit-content;
    align-items: center;
    text-align: center;
}

.customDiceInput{
    width: 80%;
    margin-left: 1%;
    height: 0.9em;
}

.addCustomDiceButton{
    margin-top: 10%;
    height: 2.6em;
}

/* Dice Board */

.dice-board-wrapper{
    width: 50%;
    height: 100%;
    background-color: rgb(213, 164, 255);
    margin-right: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#dice-board{
    
    height: 100%;
    width: 100%;
 
    background-color: rgb(253, 184, 244);

    padding: 0%;
    padding-bottom: 10%;
    margin: 0%;
    list-style: none;
    overflow:hidden; 
    overflow-y:scroll;
    border-radius: 5%;

}
#dice-board li{
    display: inline-flex;
    margin-top: 10%;
    margin-left: 10%;
    
    /* margin-bottom: 5%; */
    width: 35%;
    height: 40%;
    /* height: fit-content; */
}

/* Dice History */

.dice-history{
    width: 20%;
    height: 100%;
    background-color: bisque;
}

.dice-history-list{
    font-size: 0.75em;
    height: 80%;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    overflow:hidden; 
    overflow-y:scroll;
    
}

.dice-history-list li{
    padding-bottom: 10%;
}

/* add on's*/
.roundedbox{
    border-radius: 5%;
}
.row{
    display: flex;
    width: auto;
}
.column{
    display: flex;
    flex-direction: column;
}

.wrapper{
    height: inherit;
}

.defaultButton{
    background-color: white;
    border-radius: 15%;
    font-size: 0.75em;
    font-weight: bold;
    padding: 1%;

}

.lowestButton{
    margin-bottom: 5%;
}
.defaultButton:hover{
    background-color: rgb(201, 126, 255);
    cursor: pointer;
}

.bigHeader{
    text-align: center;
    display: block;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.defaultHeader{
    text-align: center;
    
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
}

.label{
    text-align: center;
    
    display: block;
    font-size: 0.75em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
}