.dice-area {
    width: 100%;
}
.characterDiceBoardList {
    list-style: none;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}
.characterDiceBoardList li {
    padding: 0px;
    margin: 0 1% 0 1%;
}
