#directionsBlock {
    height: 100%;
    padding: 10px;
    /* position: absolute;
    bottom: 5%;
    right: 0; */
}
.directions-list {
    padding: 0px;
    padding-left: 10px;
    font-size: x-small;
}
