.status-effect-form {
    position: relative;
    /* float: left; */
    font-size: small;
    width: 275px;
    display: flex;
    justify-content: left;
}

.titleHeader {
    text-align: center;
    display: block;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
